
<h2>What I Do</h2>
<p>Hi, <a href="http://avijeets.com/">I'm Avijeet Sachdev</a>. I am a <a href="http://github.com/avijeets" rel="external nofollow">programmer</a>, <a href="http://sachdeveloper.com/">writer</a>, <a href="http://instagram.com/avijeets">coffee connoisseur</a>, and high school student.</p>

<p>Now, <em>I'm currently working on <a href="http://github.com/avijeets">a few side projects</a>, creating a <a href="http://avijeets.com/compsci">Computer Science Club</a> in my school and continuing being a volunteer for <a href="http://coderdojonyc.com/">CoderDojo NYC</a></em>. </p>

<h2>What I've Done</h2>
<p>I previously worked on Tech Charisma (an opinionated technology news website), until I sold it in 2010 (I was 14) when it reached 25,000 monthly readers.  After, a <a href="http://www.unorganizedramblings.com/">friend</a> and I built <a href="http://snazzy.fm">SnazzyFM</a> which exploded upon impact. SnazzyFM was a podcasting network focused around sports, technology, and gaming. We reached out to nearly 130 countries and transferred 13TB of data, all in about 4 months. Sadly, we had to shut down the service due to schoolwork and server costs. </p>

<p>Shortly after SnazzyFM was closed, I began an amazing internship at <a href="http://dosomething.org/">DoSomething.org</a>. There, I put my skills to work and was able to work on very challenging problems.

<h2>What I Will Do</h2>
<p>In a year, I'll move from my current New Jersey home onto college wherever I'm accepted. I'm hoping to transfer my curiosity and passion for computer programming into a Computer Science major while at school. Wherever I move to for college, I wish to work on cool projects, meet interesting people, and continue to work hard.</p>

<h2>How To Keep In Touch</h2>
<ul class="contact clear">
  <li><span>Read:</span> <a href="http://www.sachdeveloper.com/">sachdeveloper.com</a></li>
  <li><span>Email:</span> <a href="mailto:a@avijeets.com">a@avijeets.com</a></li>
  <li><span>Skype:</span> <a href="skype:avijeetsachdev">avijeetsachdev</a></li>
</ul>
<ul class="contact two clear">
  <li><span>Tweet:</span> <a href="http://twitter.com/avijeets">@avijeets</a></li>
  <li><span>GitHub:</span> <a href="http://github.com/avijeets">avijeets</a></li>
</ul>
